<div id='abc' class=''>
  <div id='artist_name' class=''>
    <h1 style='display: inline-block;'>Sara J Leadholm</h1>
  </div>
  <div id='by-appointment' class=''>
    <p class=''>Open by appointment</p>
    <p class=''>Oceanside Landscapes</p>
    <p class=''>::before</p>
  </div>
  <div class=''>
    <ul id="yui_3_17_2_1_1673462946204_383">
      <li id="yui_3_17_2_1_1673462946204_382">
        <a href="/home" target="_blank" id="yui_3_17_2_1_1673462946204_506">Continue to site</a>
      </li>
      <li id="yui_3_17_2_1_1673462946204_389">
        <a href="/contact">Contact Sara</a>
      </li>
    </ul>
  </div>
</div>