<%= render 'layouts/header' %>
<div class="gallery-main">
  <div class="gallery-title">Galleries</div>
  <div class="gallery-wrapper">
    <div class="landscapes-button">
      <a class="landscapes-anchor" href='/landscapes'>
        <img src='/Media/Landscape/Arbor.jpg' />
      </a>
      <div class="title">Landscapes</div>
    </div>
    <div class="oceanside-button">
      <a class="oceanside-anchor" href='/oceanside'>
        <img src='/Media/Oceanside/Overlook on Kauaii.jpg' />
      </a>
      <div class="title">Oceanside</div>
    </div>
    <div class="northshore-button">
      <a class="northshore-anchor" href='/northshore'>
        <img src='/Media/Northshore/Winters End at Artist Point.jpg' />
      </a>
      <div class="title">North Shore</div>
    </div>
    <div class="winterscapes-button">
      <a class="winterscape-anchor" href='/winterscapes'>
        <img src='/Media/Winterscapes/Sunrise.jpg' />
      </a>
      <div class="title">Winter Scapes</div>
    </div>
    <div class="prints-button">
      <a class="prints-anchor" href='/prints'>
        <img src='/Media/Prints/Summer Bouquet.jpg' />
      </a>
      <div class="title">Prints</div>
    </div>
    <div class="portraits-button">
      <a class="portraits-anchor" href='/portraits'>
        <img src='/Media/Portraits/Stephanie.jpg' />
      </a>
      <div class="title">Portraits</div>
    </div>
  </div>
</div>
