<%= render 'layouts/header', dir_name: nil %>

<main id='mainPageSection' class="main-home-page">
  <div id='homePage' class="home-page">
    <div class="home-page-background">
      <div class="home-page-background-text">
        <p>Currently, I’m a pleine aire painter of rural Minnesota and areas along the Pacific coast. I have been a student of <a href='https://www.joepaquet.com/'>Joe Paquet</a>, a pleine aire landscape painter who taught me a chromatic color palette and the beginnings of how to see and then paint nature, as light  hits form to canvas.</p>
        <p>From there it has been just practicing, trying to get a simplified image to sit calmly on the surface. Painting and practicing and painting some more....</p>
        <p>A learning process at best.</p>
        <p>I have been an art director in New York City for advertising, and I have been an art teacher in the public schools of Minnesota, now I create art at a more relaxed place in my life.</p>
        <p><bold>St. Peter, MN</bold></p>
      </div>
      <div class="home-page-background-image">
        <img src='/Media/Oceanside/Mendocino Coastline.jpg' />
        <canvas class="bridge-reflection"></canvas>
      </div>
    </div>
  </div>
</main>
