<%= render 'layouts/header' %>
<div id='idealWrapper' class="ideal-wrapper background">
  <div id='idealHeader' class="ideal-header">
    <header class="ideal-header-text background-header-text">The Pursuit of Tranquility</header>
  </div>
  <div id='idealBody' class="ideal-body">
    <div id='idealBodyText' class="ideal-body-text">
      <p>As I pursue the act of pleine aire painting it becomes a process of not only painting but also of staying in the moment; a meditational device that keeps me in the present and seeing clearly. When that actually happens it promotes a wonderful connection between nature and the mind, an ideal realized.</p>

      <p>I’m working at obtaining the ideal, a symbolic truth that can heighten my awareness to what is around me. And though I struggle at it, my desire to gain the abilities to capture one particular instant will keep me painting for a long time.</p>
    </div>
    <div id='idealBodyPhotoA' class="ideal-body-photo-a">

    </div>
    <div id='idealBodyPhotoB' class="ideal-body-photo-b">

    </div>
  </div>
</div>