
<script>
    /* https://stackoverflow.com/questions/21760208/dynamically-changing-css-background-image */
    $(document).ready( function(){
        var header = $('.bg');

        var backgrounds = new Array("url('/Media/Oceanside/Mendocino Headlands.jpg')",
            "url('/Media/Oceanside/Overlook on Kauaii.jpg')",
            "url('/Media/Oceanside/Mendocino Coastline.jpg')",
            "url('/Media/Oceanside/Mendocino.jpg')");

        var current = 0

        function nextBackground() {
            current++;
            current = current % backgrounds.length;
            header.css('background-image', backgrounds[current]);
        }

        setInterval(nextBackground, 10000);

        header.css('background-image', backgrounds[0])
    });
</script>

<div class="bg">
  <div class="slide-layer full-width-height">
    <div class="slide-layer-content">
      <div class="slice slice-heading slice-heading-content">
        <div class="slice-page-header">
          <h1>Sara J. Leadholm</h1>
        </div>
        <div class="slice-body slice-body-content">
          <p>Open by appointment</p>
          <p>Oceanside Scenery</p>
        </div>
      </div>
      <div class="slice-buttons slice-buttons-content slice-buttons-focused">
        <ul>
          <li class="button button-continue">
            <a href='/home' target=_blank>Continue to site</a>
          </li>
          <li class="button button-contact">
            <a href='/contact'>Contact Sara</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>