<style>
  .bg {

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transition: all .9s ease;
      -webkit-animation: fade 5s infinite;
      -moz-animation: fade 5s infinite;
      -o-animation: fade 5s infinite;
      animation: fade 5s infinite;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
    /*.bg {*/

    /*    !* Full height *!*/
    /*    height: 100%;*/

    /*    !* Center and scale the image nicely *!*/
    /*    background-position: center;*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/

    /*    transition: all .9s ease;*/
    /*    -webkit-animation: fade 5s infinite;*/
    /*    -moz-animation: fade 5s infinite;*/
    /*    -o-animation: fade 5s infinite;*/
    /*    animation: fade 5s infinite;*/
    /*}*/
    .slide-layer.full-width-height {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .slide-layer-content {
        height: 100%;
        position: relative;
        padding: 40px 60px 60px 60px;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 880px;
        width: auto;
    }
    .slice {
        text-align: center;
        margin-bottom: 20px;
    }
    .slice-page-header h1 {
        font-size: 99px;
        font-weight: 400;
        line-height: .9em;
        color: #2E2F30;
        text-shadow: -1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
    }
    .slice-body-content {
        font-size: 30px;
        color: #2E2F30;
        background-color: transparent;
        text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
    }
    .slice-buttons {
        font-size: 18px;
        line-height: 1.4em;
        letter-spacing: 0.2em;
        color: #2E2F30;
        margin: 0;
    }
    .slice-buttons-content {
        text-align: center;
        text-rendering: optimizeLegibility;
    }
    .slice-buttons ul {
        text-transform: uppercase;
        letter-spacing: .14em;
        margin: 0;
        padding: 0;
        line-height: 1em;
    }
    .slice-buttons li {
        transition: background-color 170ms ease-in-out;
        display: inline-block;
        list-style: none;
        /*border: #730E15 1px solid;*/
        /*color: #730E15;*/
        text-decoration: #730E15 none;
    }
    .slice-buttons li a {
        border: 2px solid #730E15;
        background-color: transparent;
        color: #730E15;
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6em;
        transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
        padding: 1em calc(1.44em - .14em) 1em 1.44em;
        text-shadow: -1px -1px 0 #990E15, 1px -1px 0 #990E15;
    }
    .slice-buttons li a:hover {
        background-color: #730E15;
        color: #666666;
        text-shadow: none;
    }
</style>

<script>
    /* https://stackoverflow.com/questions/21760208/dynamically-changing-css-background-image */
    $(document).ready( function(){
        var header = $('.bg');

        var backgrounds = new Array("url('/Media/Oceanside/Mendocino Headlands.jpg')",
            "url('/Media/Oceanside/Overlook on Kauaii.jpg')",
            "url('/Media/Oceanside/Mendocino Coastline.jpg')",
            "url('/Media/Oceanside/Mendocino.jpg')");

        var current = 0

        function nextBackground() {
            current++;
            current = current % backgrounds.length;
            header.css('background-image', backgrounds[current]);
        }

        setInterval(nextBackground, 10000);

        header.css('background-image', backgrounds[0])
    });
</script>

<div class="bg">
  <div class="slide-layer full-width-height">
    <div class="slide-layer-content">
      <div class="slice slice-heading slice-heading-content">
        <div class="slice-page-header">
          <h1>Sara J. Leadholm</h1>
        </div>
        <div class="slice-body slice-body-content">
          <p>Open by appointment</p>
          <p>Oceanside Scenery</p>
        </div>
      </div>
      <div class="slice-buttons slice-buttons-content slice-buttons-focused">
        <ul>
          <li class="button button-continue">
            <a href='/home' target=_blank>Continue to site</a>
          </li>
          <li class="button button-contact">
            <a href='/contact'>Contact Sara</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>