<style>
    .gallery-main .gallery-title {
        margin-top: 250px;
        display: flex;
        justify-content: center;
        color: #bbbbbb;
        font-size: 2em;
    }
    .gallery-main .gallery-wrapper {
        margin-left: 10px;
        color: #999999;
        display: flex;
        flex-wrap: wrap;
    }
    [class*="-button"] {
        flex: 1 1 30%;
        /*border: 1px solid #333333;*/
        justify-content: center;
        flex-display: row;
        margin: 5px;
        padding: 5px;
    }
    [class*="-button"] img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        position: relative;
    }
    [class*="-button"] .title {
        position: relative;
        top: 40px;
        left: 30px;
        /*justify-content: center;*/
        color: #DDDDDD;
        z-index: 1;
        font-size: 1.7em;
        line-height: 0;
        text-shadow: -1px -1px 0 #990E15, 1px -1px 0 #999999;
    }
</style>

<%= render 'layouts/header', dir_name: 'Northshore' %>

<div class="gallery-main">
  <div class="gallery-title">Northshore</div>
  <div class="gallery-wrapper">
    <% file_arr = retrieve_file_array('Northshore') %>
    <% file_arr.each do |file_path| %>
      <% file = file_path.split('/').last.strip.gsub('.jpg', '') %>
      <div class="landscapes-button">
        <div class="title"><%= file %></div>
        <a class="landscapes-anchor" href='<%= file_path %>'>
          <img src='<%= file_path %>' />
        </a>
      </div>
    <% end %>
  </div>
</div>